body{
    background-color: rgb(102,255,178);
}

.board {
     border:thin black ridge;
     background-color:white;
     margin-right:auto;
     margin-left:auto;
     width: 50%;
	 height: 10cm;
}

td {
	height: 33.3%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color:white;
    color:red;
    font-size:2cm;
    font-family:Courier New,Courier,monospaced;
    font-weight:bold;
    vertical-align: bottom;
    text-align:center;
	width: 33%;
}
